.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.background {
    display: inline-block;
    width: 90%; 
}

.LinkedList {
    z-index: 0;
    position: absolute;
    opacity: 0.4;
    width: 300px;
    bottom: 80px;
    left: 300px;
    opacity: 0.4;
}
.LL-mask {
    z-index: 1;
    display: block;
    position: absolute;
    width: 300px;
    height: 80px;
    bottom: 80px;
    left: 300px;
    background-color: #275E75;
    animation: slide2 3s forwards;
}

@keyframes slide2 {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(100%);
    }
}


.binary-tree {
    z-index: 0;
    position: absolute;
    left: -210px;
    top: -36px;
    width: 600px;
    opacity: 0.4;
}
.bt-mask {
    z-index: 1;
    display: block;
    position: absolute;
    top: -36px;
    width: 600px;
    height: 350px;
    background-color: #275E75;
    animation: slide 3s forwards;
}

@keyframes slide {
    from {
        transform: translateY(0%)
    }
    to {
        transform: translateY(-200%)
    }
}

.map {
    z-index: -1;
    position: absolute;
    bottom: 80px;
    right: 300px;
    width: 300px;
    opacity: 0.4;
}

.map-mask {
    z-index: 0;
    position: absolute;
    display: inline-block;
    width: 37px;
    height: 180px;
    bottom: 80px;
    right: 527px;
    background-color: #275E75;
    animation: slide3 3s forwards
}

@keyframes slide3 {
    from {
        transform: translateY(0%)
    }
    to {
        transform: translatey(100%);
    }
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.container.contact-page,
.container.about-page,
.container.portfolio-page,
.container.proj {

    h1 { 
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ED8E00;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;
    }

    p {
        font-size: 13px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
            animation-delay: 1.1s;
            
        }
        &:nth-of-type(2) {
            animation-delay: 1.2s;
            
        }
        &:nth-of-type(3) {
            animation-delay: 1.3s;
        }
    }

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        .buttons{
            margin-left: auto;
            margin-right: auto;
        }
    }

    .text-animate-hover {
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (max-width: 1200px) {
    .page {
      position: initial;
    }
  
    .container {
      position: initial;
      height: auto;
      min-height: auto;
  
      &.contact-page,
      &.about-page,
      &.portfolio-page,
      &.proj {
        .text-zone {
          position: initial;
          transform: none;
          width: 100%;
          display: block;
          padding: 20px;
          box-sizing: border-box;
        }
      }
  
      &.portfolio-page {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
  
        h1.page-title {
          margin-left: 20px;
          margin-top: 20px;
        }
      }
    }
  
    .stage-cube-cont {
      position: initial;
      width: 100%;
      height: 0%;
      overflow: visible;
    }
  }