.map-wrapper{
    position: absolute;
    overflow: hidden;
    bottom: 80px;
    right: 300px;
    width: 300px;
    .map {
        z-index: 0;
        width: 100%;
        opacity: 0.4;
    }
    .map-mask {
        z-index: 1;
        position: inherit;
        display: inline-block;
        width: 37px;
        height: 180px;
        left: 32px;
        background-color: #275E75;
        animation: slide3 3s forwards;
    }
    
    @keyframes slide3 {
        from {
            transform: translateY(0%)
        }
        to {
            transform: translatey(100%);
        }
    }
}
