.proj {
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translateY(-50%);
    vertical-align: middle;
    max-height: 20%;
    width: 80%;
}
.proj-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: red solid 2px;
}