.projects{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    span{
        font-size: 30px;
        color: #fff;
    }

    .project-card{
        margin: 0 10px;
        width: 33%;
        p {
            font-size: 15px;
            height: 30%;
        }
        img{
            width: 100%;
            height: 30%;
            object-fit: fill;
        }
        .proj-tech{
            display: flex;
            justify-content: space-between;
            width: 100%;

            img{
                border-radius: 50%;
                width: 22%;
                height: 30px;
                object-fit: fill;
            }
        }

        .proj-links {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            background: #181818;
            a{
                position: relative;
                bottom: 0;
                font-size: 16px;
    
                &:hover {
                    .anchor-symbol{
                        color: #ED8E00;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .projects{
        flex-direction: column;
        span {
            font-size: 18px;
        }
        .project-card {
            margin: 10px 0;
            p{
                font-size: 8px;
            }
        }
    }
}